<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Forbidden</title>
  </head>
  <body>
    <h1>403 Forbidden</h1>
    <% if (messages && messages.length) { %>
      <div class="flash">
        <% messages.forEach(function(msg){ %>
          <p><%= msg %></p>
        <% }); %>
      </div>
    <% } %>
  </body>
</html>
